body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "The Nautigal", cursive;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
/* stay-focused left-sec============================================================ */
.stay-focused {
  display: flex;
  justify-content: space-around;
  margin-bottom: 140px;
}
.stay-focused-left {
  width: 30%;
}
.heading-border {
  border-left: 5px solid #ff5959;
}
.heading-black {
  font-size: 60px;
  font-weight: 400;
}
.heading-orange {
  font-size: 60px;
  font-weight: 400;
  color: #ffad5a;
}
.basic-paragraph {
  color: grey;
  line-height: 30px;
  font-size: 22px;
}
.main-button {
  padding: 15px 35px;
  background-color: #ff5959;
  border: none;
  border-radius: 5px;
}
.main-button a {
  text-decoration: none;
  color: white;
}
/* stay-focused-right-sec========================================================= */
.stay-focused-right {
  width: 30%;
}
.stay-focused-right img {
  width: 100%;
}
/* my mission sec================================================================ */
.my-mission-heading {
  text-align: center;
  font-size: 30px;
}
.my-mission-heading span {
  color: #ffad5a;
}
.my-mission-types {
  display: flex;
  justify-content: space-evenly;
}
.mission-types {
  width: 20%;
  padding: 20px 20px;
  border-radius: 15px;
}
.mission-image img {
  width: 40%;
}
.mission-types p {
  color: grey;
  font-size: 18px;
  line-height: 22px;
}
.bg-1 {
  background-color: #edf5f6;
}
.bg-2 {
  background-color: #ffeeee;
}
.bg-3 {
  background-color: #fff4d6;
}
/* DEVELOP SEC====================================================================== */
.develop-sec {
  display: flex;
  justify-content: space-around;
  margin: 100px 0px;
}
.develop-left {
  width: 35%;
  background-image: url(./img/shapes/dream-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.develop-left img {
  width: 90%;
  margin-top: 20px;
  margin-left: 100px;
}
.develop-right {
  width: 40%;
}
.develop-heading {
  font-size: 45px;
  font-weight: 900;
}
/* global community sec============================================================ */
.global-community {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  background-image: url(./img/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: 1180px 500px;
  background-size: 200px;
}
.global-community-left {
  width: 40%;
  margin-left: 130px;
}
.global-community-right {
  width: 35%;
  margin-right: 130px;
}
.global-community-right img {
  width: 90%;
  margin-top: 20px;
}
/* contact sec===================================================================== */
.contact-heading {
  text-align: center;
}
.contact-sec {
  display: flex;
  background-color: #ffeeee;
  padding: 50px 10px;
}
.contact-sec-left {
  width: 60%;
  margin-left: 130px;
  background-image: url(./img/shapes/shape-7.png);
  background-position: -6px 300px;
  background-repeat: no-repeat;
  background-size: 250px;
  background-image: url(./img/shapes/shape-9.png);
  background-position: 100px 80px;
  background-repeat: no-repeat;
  background-size: 250px;
}
.contact-sec-left img {
  width: 50%;
}
.contact-sec-right {
  width: 40%;
  margin-right: 160px;
  margin-top: 30px;
  padding: 30px 20px;
}
.contact-sec-right img {
  width: 90%;
  border-radius: 25px;
}
.contact-sec-right:hover {
  box-shadow: 10px 25px 40px grey;
  transition: 0.4s;
}
.contact-sec-heading {
  text-align: center;
  font-size: 30px;
  color: #eb5252;
}
.my-mission-heading span {
  color: #ffad5a;
}
/* footer====================================================================== */
.main-footer {
  text-align: center;
  padding: 40px 0;
  background-color: #0b0d17;
}
.main-footer p {
  color: white;
}
.main-footer h1 {
  color: white;
}
.main-footer span {
  color: #ff5959;
}
